@media (max-width:880px) {
    .cabecalho{
        flex-direction: column;
        justify-content: center;
    }

    .cabecalho .container{
        margin-bottom: 40px;
    }

    .cabecalho h1{
        font-size: 40px;
        width: 160px;
        height: 47px;
    }

    .cabecalho nav{
        margin: 0;
    }

    .cabecalho nav ul li{
        display: block;
        text-align: center;
        padding: 20px;
    }

    .cabecalho nav ul li a{
        padding: 22px 53px 22px 56px;
    }

    .cabecalho ul li a{
        font-size: 40px;
    }

    .cabecalho .button{
        margin-top: 63px;
        margin-right: 0;
    }
}

